
@media (min-width: 1050px){
  .display {
      margin-top: 20px;
      margin-right: 20px;
      margin-left: 20px;
      padding: 30px;
      grid-column-start: 1;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 7;
      box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
      column-gap: 5px;
      row-gap: 15px;
      background: rgb(62,127,252);
      background: linear-gradient(90deg, rgba(62,127,252,1) 0%, rgba(115,163,255,1) 9%, rgba(134,176,255,1) 16%, rgba(122,167,251,1) 22%, rgba(62,127,252,1) 32%, rgba(170,170,170,1) 34%, rgba(210,210,210,1) 39%, rgba(219,219,219,1) 44%, rgba(212,212,212,1) 50%, rgba(217,217,217,1) 56%, rgba(201,201,201,1) 61%, rgba(198,198,198,1) 66%, rgba(182,200,236,1) 67%, rgba(164,195,255,1) 69%, rgba(185,208,251,1) 74%, rgba(202,220,255,1) 84%, rgba(198,216,252,1) 89%, rgba(168,188,227,1) 100%);
      background-size: 320%;
      background-position: left;
      border: rgba(0, 0, 0, 0.15) solid 5px;

    }

  .temperature {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 6em;
    align-self: start;
  }

  .city-name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    font-size: 3em;
    align-self: end;
  }

  .state-name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    font-size: 3em;
    align-self: end;

  }

  .weather-desc {
    font-size: 2em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-self: center;
  }

  .weather-details {
    font-size: 1.25rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: end;
  }

  .time-display {
    justify-self: end;
    align-self: end;
    font-size: 3em;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
  }

  .date-display {
    font-size: 3em;
    justify-self: end;
    align-self: end;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
  }

  .weather-icon {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    /* background-color: red; */
    justify-self: center;
  }
}