@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

@media (min-width:1050px){
  .footer {
    color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    font-family: 'Roboto Condensed', sans-serif;
  }
  .searchbar {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 6;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  }
}