* {
  margin: 0;
  padding: 0;
  border: 0;
}

body,
html {
  height: 100%;
  /* overflow: hidden; */
  background-color: rgb(240, 238, 238);
}

/* .container-header {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
} */

@media (min-width: 1050px){
  .container-body{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 1rem;
  }
}
@media (min-width:485x){
  .container-body{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

}
