@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto+Slab:wght@600&display=swap");
.searchbar {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repear(10, 1fr);
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
}

.search-header {
  grid-column: span 10;
  grid-row-start: 3;
  justify-self: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 15%);
}

.search-wrapper {
  grid-column: span 10;
  grid-row-start: 5;
  background-color: rgb(240, 238, 238);
  padding: 1em;
  color: hsl(0, 0%, 15%);
}
.search-1 {
  grid-column: span 10;
  justify-self: start;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

.search-2 {
  grid-column: span 10;
  justify-self: start;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 10px;
}

.state-search {
  grid-column: span 10;
  justify-self: start;
}

.city-search {
  grid-column: span 10;
  justify-self: start;
}

.buttons {
  grid-column: span 10;
  grid-row-start: 9;
  justify-self: end;
}

.submit-button {
  border-radius: 8px;
  padding: 0.6em 1.4em;
  margin: 0 0.6em 0.6em 0;
  background-color: #21a6ce;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1em;
  /* font-weight: bold; */
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 20px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.submit-button:hover {
  background-color: #25bce9;
}

.clear-button {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  color: hsl(0, 0%, 15%);

  font-family: "Roboto Condensed", sans-serif;
}
